.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
  cursor: pointer;
  color: #61dafb;
}

.nav-item.active {
  font-weight: bold;
  border-bottom: 2px solid #61dafb;
}

.App-content {
  padding: 20px;
  overflow-y: auto; /* Add this line to allow vertical scrolling */
  max-height: calc(100vh - 160px); /* Adjust height to fit within the viewport */
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}