.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-image: url('/public/images/pexels-quang-nguyen-vinh-2131614.jpg');  */
  background-size: cover; /* Ensure the background covers the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8); /* Add transparency */
  padding: 20px;
  color: white;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
  cursor: pointer;
  color: #61dafb;
}

.nav-item.active {
  font-weight: bold;
  border-bottom: 2px solid #61dafb;
}

.App-content {
  flex: 1;
  padding: 20px;
  padding-bottom: 60px; /* Add padding to the bottom to accommodate the footer */
  overflow-y: auto;
}

.App-footer {
  background-color: rgba(40, 44, 52, 0.8); /* Add transparency */
  padding: 10px;
  color: white;
  text-align: center;
  position: relative; /* Change from fixed to relative */
  width: 100%;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}